<% for(var i = 0; i < students.length; i++) { %>
<tr>
    <th scope="row"><%= i + 1 %></th>
    <td><%= students[i].name %></td>
    <td><%= students[i].email %></td>
    <td>
        <a href="/api/student/<%= students[i]._id%>"><i class="fas fa-user-edit"></i></a>
        <a href="/api/students/<%= students[i]._id%>"><i class="fas fa-trash-alt"></i></a>
    </td>
</tr>
<% } %>